@use "../../mixins/mixins";

@include mixins.respond-to('tablet') {
    #map {
        height: 450px;
    }
}
@include mixins.respond-to('phone-portrait') {
    #map {
        height: 420px;
    }
    .infowindow {
        padding: 20px 20px 20px 20px !important;
    }
}